In [30]:
import pandas as pd
from sklearn.pipeline import Pipeline, FunctionTransformer
from sklearn.compose import ColumnTransformer

In [31]:
# leemos el dataset limpio de partida, con las columas con las que vamos a trabajar

df_students_clean = pd.read_csv('C:\\Users\\saraf\\OneDrive\\Documentos\\Data Science and AI\\capstone project\\data\\df_students_clean.csv')

df_students_clean.head()

,ST267Q01JA,ST267Q02JA,ST267Q03JA,ST267Q04JA,ST267Q05JA,ST267Q06JA,ST267Q07JA,ST267Q08JA,ST270Q01JA,ST270Q02JA,...,PV1SCIE,PV2SCIE,PV3SCIE,PV4SCIE,PV5SCIE,PV6SCIE,PV7SCIE,PV8SCIE,PV9SCIE,PV10SCIE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,506.912,520.943,445.915,447.578,510.355,469.425,485.229,520.293,509.465,520.461
1,Agree,Disagree,NaN,NaN,Agree,Strongly agree,Agree,NaN,Some lessons,Some lessons,...,472.056,497.419,583.550,486.117,543.515,501.654,522.876,518.897,540.951,555.862
2,NaN,Agree,Agree,NaN,Agree,Agree,NaN,Disagree,Some lessons,Some lessons,...,336.125,383.288,390.317,360.386,389.356,424.082,377.563,422.321,363.447,431.934
3,Agree,Disagree,Agree,Strongly disagree,NaN,NaN,Agree,NaN,Every lesson,Every lesson,...,413.822,324.202,343.227,284.083,330.103,351.840,353.562,381.369,366.970,350.518
4,NaN,Strongly disagree,Strongly disagree,NaN,Strongly disagree,Strongly disagree,NaN,Agree,Most lessons,Most lessons,...,530.906,472.011,492.387,431.729,524.883,420.419,529.333,559.941,496.913,488.453

In [32]:
df_students_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30800 entries, 0 to 30799
Data columns (total 88 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ST267Q01JA  18516 non-null  object
 1   ST267Q02JA  18403 non-null  object
 2   ST267Q03JA  18464 non-null  object
 3   ST267Q04JA  18378 non-null  object
 4   ST267Q05JA  18545 non-null  object
 5   ST267Q06JA  18283 non-null  object
 6   ST267Q07JA  18381 non-null  object
 7   ST267Q08JA  18550 non-null  object
 8   ST270Q01JA  28806 non-null  object
 9   ST270Q02JA  28746 non-null  object
 10  ST270Q03JA  28756 non-null  object
 11  ST270Q04JA  28769 non-null  object
 12  ST297Q01JA  29406 non-null  object
 13  ST300Q01JA  13422 non-null  object
 14  ST300Q02JA  13490 non-null  object
 15  ST300Q03JA  13511 non-null  object
 16  ST300Q04JA  13298 non-null  object
 17  ST300Q05JA  13332 non-null  object
 18  ST300Q06JA  13293 non-null  object
 19  ST300Q07JA  13398 non-null  object
 20  ST300Q08JA  13348 non-null  object
 21  ST300Q09JA  13414 non-null  object
 22  ST300Q10JA  13155 non-null  object
 23  ST348Q04JA  12536 non-null  object
 24  ST348Q08JA  12641 non-null  object
 25  ST353Q01JA  12303 non-null  object
 26  ST353Q02JA  12359 non-null  object
 27  ST353Q05JA  12302 non-null  object
 28  ST353Q06JA  12184 non-null  object
 29  ST353Q07JA  12149 non-null  object
 30  ST353Q08JA  12248 non-null  object
 31  PA003Q01TA  0 non-null      float64
 32  PA003Q18WA  0 non-null      float64
 33  PA003Q05IA  0 non-null      float64
 34  PA003Q20WA  0 non-null      float64
 35  PA003Q12JA  0 non-null      float64
 36  PA008Q01TA  0 non-null      float64
 37  PA008Q02TA  0 non-null      float64
 38  PA008Q03TA  0 non-null      float64
 39  PA008Q04TA  0 non-null      float64
 40  PA008Q05TA  0 non-null      float64
 41  PA008Q06NA  0 non-null      float64
 42  PA008Q07NA  0 non-null      float64
 43  PA008Q08NA  0 non-null      float64
 44  PA008Q09NA  0 non-null      float64
 45  PA008Q10NA  0 non-null      float64
 46  PA185Q01JA  0 non-null      float64
 47  PA041Q01TA  0 non-null      float64
 48  WB155Q08HA  28135 non-null  object
 49  WB155Q09HA  28143 non-null  object
 50  WB163Q01HA  27763 non-null  object
 51  WB163Q02HA  27697 non-null  object
 52  WB163Q03HA  27697 non-null  object
 53  WB163Q04HA  27667 non-null  object
 54  WB163Q05HA  27574 non-null  object
 55  WB163Q06HA  27644 non-null  object
 56  WB163Q07HA  27687 non-null  object
 57  WB163Q08HA  27634 non-null  object
 58  PV1MATH     30800 non-null  float64
 59  PV2MATH     30800 non-null  float64
 60  PV3MATH     30800 non-null  float64
 61  PV4MATH     30800 non-null  float64
 62  PV5MATH     30800 non-null  float64
 63  PV6MATH     30800 non-null  float64
 64  PV7MATH     30800 non-null  float64
 65  PV8MATH     30800 non-null  float64
 66  PV9MATH     30800 non-null  float64
 67  PV10MATH    30800 non-null  float64
 68  PV1READ     30800 non-null  float64
 69  PV2READ     30800 non-null  float64
 70  PV3READ     30800 non-null  float64
 71  PV4READ     30800 non-null  float64
 72  PV5READ     30800 non-null  float64
 73  PV6READ     30800 non-null  float64
 74  PV7READ     30800 non-null  float64
 75  PV8READ     30800 non-null  float64
 76  PV9READ     30800 non-null  float64
 77  PV10READ    30800 non-null  float64
 78  PV1SCIE     30800 non-null  float64
 79  PV2SCIE     30800 non-null  float64
 80  PV3SCIE     30800 non-null  float64
 81  PV4SCIE     30800 non-null  float64
 82  PV5SCIE     30800 non-null  float64
 83  PV6SCIE     30800 non-null  float64
 84  PV7SCIE     30800 non-null  float64
 85  PV8SCIE     30800 non-null  float64
 86  PV9SCIE     30800 non-null  float64
 87  PV10SCIE    30800 non-null  float64
dtypes: float64(47), object(41)
memory usage: 20.7+ MB

In [33]:
def obtener_significado(codigo, df_compendio):
    resultado = df_compendio.loc[df_compendio['Sigla'] == codigo, 'Explicacion']
    return resultado.iloc[0] if not resultado.empty else "Not found"

In [34]:
compendio = pd.read_excel('compendio_df_students.xlsx')

Imprimimos las columnas con las que estamos trabajando

In [35]:
for column in df_students_clean.columns:
    print(f"{column}: {obtener_significado(column, compendio)}")

ST267Q01JA: Agree/disagree: The teachers at my school are respectful towards me.
ST267Q02JA: Agree/disagree: If I walked into my classes upset, my teachers would be concerned about me.
ST267Q03JA: Agree/disagree: If I came back to visit my school 3 years from now, my teachers would be excited to see me.
ST267Q04JA: Agree/disagree: I feel intimidated by the teachers at my school.
ST267Q05JA: Agree/disagree: When my teachers ask how I am doing, they are really interested in my answer.
ST267Q06JA: Agree/disagree: The teachers at my school are friendly towards me.
ST267Q07JA: Agree/disagree: The teachers at my school are interested in students' well-being.
ST267Q08JA: Agree/disagree: The teachers at my school are mean towards me.
ST270Q01JA: How often: The teacher shows an interest in every student's learning.
ST270Q02JA: How often: The teacher gives extra help when students need it.
ST270Q03JA: How often: The teacher helps students with their learning.
ST270Q04JA: How often: The teacher continues teaching until the students understand.
ST297Q01JA: [Additional math instruction] received: One-on-one tutoring with a person
ST300Q01JA: How often parents/family member: Discuss how well you are doing at school.
ST300Q02JA: How often parents/family member: Eat [the main meal] with you.
ST300Q03JA: How often parents/family member: Spend time just talking with you.
ST300Q04JA: How often parents/family member: Talk to you about the importance of [completing ISCED 3].
ST300Q05JA: How often: parents/family member: Talk to you about any problems you might have at school.
ST300Q06JA: How often parents/family member: Ask you about how well you are getting along with other students at school.
ST300Q07JA: How often parents/family member: Encourage you to get good [marks].
ST300Q08JA: How often parents/family member: Take an interest in what you are learning at school.
ST300Q09JA: How often parents/family member: Talk to you about your future education.
ST300Q10JA: How often parents/family member: Ask you what you did in school that day.
ST348Q04JA: Checked in with you to ensure that you were completing your assignments
ST348Q08JA: During COVID closures, how often: Checked in with you to ask how you were feeling
ST353Q01JA: Durinc COVID closures, how often: Help you with your school work
ST353Q02JA: During COVID closures, how often: Ask you what you were learning
ST353Q05JA: During COVID closures, how often: Check whether you were completing your school assignments
ST353Q06JA: During COVID closures, how often: Explain new content to you
ST353Q07JA: During COVID closures, how often: Help you find additional learning resources
ST353Q08JA: During COVID closures, how often: Teach you additional topics not part of your school assignments
PA003Q01TA: How often someone in home does? Discuss how well my child is doing at school
PA003Q18WA: How often someone in home does? Help my child with his/her mathematics homework
PA003Q05IA: How often someone in home does? Discuss political or social issues with my child
PA003Q20WA: How often someone in home does? Discuss with my child how mathematics can be applied in everyday life
PA003Q12JA: How often: someone in home does? Talk to my child about any problems he/she may have at school
PA008Q01TA: Last year, have you? Discussed my child's behaviour with a teacher on my own initiative.
PA008Q02TA: Last year, have you? Discussed my child's behaviour on the initiative of one of his/her teachers.
PA008Q03TA: Last year, have you? Discussed my child's progress with a teacher on my own initiative.
PA008Q04TA: Last year, have you? Discussed my child's progress on the initiative of one of their teachers.
PA008Q05TA: Last year, have you? Participated in local school government, e.g. parent council or school management committee.
PA008Q06NA: Last year, have you? Volunteered in physical or extra-curricular activities (e.g. building maintenance, carpentry, garde
PA008Q07NA: Last year, have you? Volunteered to support school activities (volunteered in the school library, media centre, or cante
PA008Q08NA: Last year, have you? Attended a scheduled meeting or conferences for parents.
PA008Q09NA: Last year, have you? Talked about how to support learning at home and homework with my child's teachers.
PA008Q10NA: Last year, have you? Exchanged ideas on parenting, family support, or the child's development with my child's teachers.
PA185Q01JA: Agree/disagree: In our family, we encourage participating in extracurricular activities that require creativity.
PA041Q01TA: In the last twelve months, about how much would you have paid to educational providers for services?
WB155Q08HA: How satisfied are you with each of the following: Your relationship with your parents/guardians
WB155Q09HA: How satisfied are you with each of the following: Your relationship with your teachers
WB163Q01HA: Thinking about your parents or guardians, how often do they: Help me as much as I need
WB163Q02HA: Thinking about your parents or guardians, how often do they: Let me do the things I like doing
WB163Q03HA: Thinking about your parents or guardians, how often do they: Show that they care
WB163Q04HA: Thinking about your parents or guardians, how often do they: Try to understand my problems and worries
WB163Q05HA: Thinking about your parents or guardians, how often do they: Encourage me to make my own decisions
WB163Q06HA: Thinking about your parents or guardians, how often do they: Try to control everything I do
WB163Q07HA: Thinking about your parents or guardians, how often do they: Treat me like a baby
WB163Q08HA: Thinking about your parents or guardians, how often do they: Make me feel better when I am upset
PV1MATH: Plausible Value 1 in Mathematics
PV2MATH: Plausible Value 2 in Mathematics
PV3MATH: Plausible Value 3 in Mathematics
PV4MATH: Plausible Value 4 in Mathematics
PV5MATH: Plausible Value 5 in Mathematics
PV6MATH: Plausible Value 6 in Mathematics
PV7MATH: Plausible Value 7 in Mathematics
PV8MATH: Plausible Value 8 in Mathematics
PV9MATH: Plausible Value 9 in Mathematics
PV10MATH: Plausible Value 10 in Mathematics
PV1READ: Plausible Value 1 in Reading
PV2READ: Plausible Value 2 in Reading
PV3READ: Plausible Value 3 in Reading
PV4READ: Plausible Value 4 in Reading
PV5READ: Plausible Value 5 in Reading
PV6READ: Plausible Value 6 in Reading
PV7READ: Plausible Value 7 in Reading
PV8READ: Plausible Value 8 in Reading
PV9READ: Plausible Value 9 in Reading
PV10READ: Plausible Value 10 in Reading
PV1SCIE: Plausible Value 1 in Science
PV2SCIE: Plausible Value 2 in Science
PV3SCIE: Plausible Value 3 in Science
PV4SCIE: Plausible Value 4 in Science
PV5SCIE: Plausible Value 5 in Science
PV6SCIE: Plausible Value 6 in Science
PV7SCIE: Plausible Value 7 in Science
PV8SCIE: Plausible Value 8 in Science
PV9SCIE: Plausible Value 9 in Science
PV10SCIE: Plausible Value 10 in Science

In [36]:
df_students_clean.head()

,ST267Q01JA,ST267Q02JA,ST267Q03JA,ST267Q04JA,ST267Q05JA,ST267Q06JA,ST267Q07JA,ST267Q08JA,ST270Q01JA,ST270Q02JA,...,PV1SCIE,PV2SCIE,PV3SCIE,PV4SCIE,PV5SCIE,PV6SCIE,PV7SCIE,PV8SCIE,PV9SCIE,PV10SCIE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,506.912,520.943,445.915,447.578,510.355,469.425,485.229,520.293,509.465,520.461
1,Agree,Disagree,NaN,NaN,Agree,Strongly agree,Agree,NaN,Some lessons,Some lessons,...,472.056,497.419,583.550,486.117,543.515,501.654,522.876,518.897,540.951,555.862
2,NaN,Agree,Agree,NaN,Agree,Agree,NaN,Disagree,Some lessons,Some lessons,...,336.125,383.288,390.317,360.386,389.356,424.082,377.563,422.321,363.447,431.934
3,Agree,Disagree,Agree,Strongly disagree,NaN,NaN,Agree,NaN,Every lesson,Every lesson,...,413.822,324.202,343.227,284.083,330.103,351.840,353.562,381.369,366.970,350.518
4,NaN,Strongly disagree,Strongly disagree,NaN,Strongly disagree,Strongly disagree,NaN,Agree,Most lessons,Most lessons,...,530.906,472.011,492.387,431.729,524.883,420.419,529.333,559.941,496.913,488.453

## Preprocesado inicial

Descartamos columnas vacÃ­as

In [37]:
# descartar columnas que empiezan por PA

df_students_clean = df_students_clean.drop(df_students_clean.filter(regex='^PA').columns, axis=1)

In [38]:
df_students_clean.shape

(30800, 71)

In [39]:
df_students_clean.columns

Index(['ST267Q01JA', 'ST267Q02JA', 'ST267Q03JA', 'ST267Q04JA', 'ST267Q05JA',
       'ST267Q06JA', 'ST267Q07JA', 'ST267Q08JA', 'ST270Q01JA', 'ST270Q02JA',
       'ST270Q03JA', 'ST270Q04JA', 'ST297Q01JA', 'ST300Q01JA', 'ST300Q02JA',
       'ST300Q03JA', 'ST300Q04JA', 'ST300Q05JA', 'ST300Q06JA', 'ST300Q07JA',
       'ST300Q08JA', 'ST300Q09JA', 'ST300Q10JA', 'ST348Q04JA', 'ST348Q08JA',
       'ST353Q01JA', 'ST353Q02JA', 'ST353Q05JA', 'ST353Q06JA', 'ST353Q07JA',
       'ST353Q08JA', 'WB155Q08HA', 'WB155Q09HA', 'WB163Q01HA', 'WB163Q02HA',
       'WB163Q03HA', 'WB163Q04HA', 'WB163Q05HA', 'WB163Q06HA', 'WB163Q07HA',
       'WB163Q08HA', 'PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH',
       'PV6MATH', 'PV7MATH', 'PV8MATH', 'PV9MATH', 'PV10MATH', 'PV1READ',
       'PV2READ', 'PV3READ', 'PV4READ', 'PV5READ', 'PV6READ', 'PV7READ',
       'PV8READ', 'PV9READ', 'PV10READ', 'PV1SCIE', 'PV2SCIE', 'PV3SCIE',
       'PV4SCIE', 'PV5SCIE', 'PV6SCIE', 'PV7SCIE', 'PV8SCIE', 'PV9SCIE',
       'PV10SCIE'],
      dtype='object')

Hacemos la media para cada uno de los tipos de valores plausibles (MATH, READ, SCIE)

In [40]:
# crear una nueva columna que sea la media de las columnas que contienen MATH
df_students_clean['MATH_mean'] = df_students_clean.filter(like='MATH').mean(axis=1)

# crear una nueva columna que sea la media de las columnas que contienen READ
df_students_clean['READ_mean'] = df_students_clean.filter(like='READ').mean(axis=1)

# crear una nueva columna que sea la media de las columnas que contienen SCIE
df_students_clean['SCIE_mean'] = df_students_clean.filter(like='SCIE').mean(axis=1)

In [41]:
df_students_clean.head(4)

,ST267Q01JA,ST267Q02JA,ST267Q03JA,ST267Q04JA,ST267Q05JA,ST267Q06JA,ST267Q07JA,ST267Q08JA,ST270Q01JA,ST270Q02JA,...,PV4SCIE,PV5SCIE,PV6SCIE,PV7SCIE,PV8SCIE,PV9SCIE,PV10SCIE,MATH_mean,READ_mean,SCIE_mean
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,447.578,510.355,469.425,485.229,520.293,509.465,520.461,471.9383,455.4310,493.6576
1,Agree,Disagree,NaN,NaN,Agree,Strongly agree,Agree,NaN,Some lessons,Some lessons,...,486.117,543.515,501.654,522.876,518.897,540.951,555.862,494.8669,537.5307,522.2897
2,NaN,Agree,Agree,NaN,Agree,Agree,NaN,Disagree,Some lessons,Some lessons,...,360.386,389.356,424.082,377.563,422.321,363.447,431.934,317.8654,348.4248,387.8819
3,Agree,Disagree,Agree,Strongly disagree,NaN,NaN,Agree,NaN,Every lesson,Every lesson,...,284.083,330.103,351.840,353.562,381.369,366.970,350.518,372.5356,424.7139,349.9696

In [42]:
df_students_clean[['MATH_mean', 'READ_mean', 'SCIE_mean']].head()

   MATH_mean  READ_mean  SCIE_mean
0   471.9383   455.4310   493.6576
1   494.8669   537.5307   522.2897
2   317.8654   348.4248   387.8819
3   372.5356   424.7139   349.9696
4   485.6010   497.4628   494.6975

Eliminamos el resto de valores plausibles, que no nos van a hacer falta

In [43]:
# eliminar columnas que empiezan por PV

df_students_clean = df_students_clean.drop(df_students_clean.filter(regex='^PV').columns, axis=1)

In [44]:
df_students_clean.columns

Index(['ST267Q01JA', 'ST267Q02JA', 'ST267Q03JA', 'ST267Q04JA', 'ST267Q05JA',
       'ST267Q06JA', 'ST267Q07JA', 'ST267Q08JA', 'ST270Q01JA', 'ST270Q02JA',
       'ST270Q03JA', 'ST270Q04JA', 'ST297Q01JA', 'ST300Q01JA', 'ST300Q02JA',
       'ST300Q03JA', 'ST300Q04JA', 'ST300Q05JA', 'ST300Q06JA', 'ST300Q07JA',
       'ST300Q08JA', 'ST300Q09JA', 'ST300Q10JA', 'ST348Q04JA', 'ST348Q08JA',
       'ST353Q01JA', 'ST353Q02JA', 'ST353Q05JA', 'ST353Q06JA', 'ST353Q07JA',
       'ST353Q08JA', 'WB155Q08HA', 'WB155Q09HA', 'WB163Q01HA', 'WB163Q02HA',
       'WB163Q03HA', 'WB163Q04HA', 'WB163Q05HA', 'WB163Q06HA', 'WB163Q07HA',
       'WB163Q08HA', 'MATH_mean', 'READ_mean', 'SCIE_mean'],
      dtype='object')

### TransformaciÃ³n de las columnas a numÃ©ricas

Convertimos las columnas a numÃ©ricas.

In [45]:
# creamos los mappings que necesitemos

mapping_agree =  {"Strongly disagree": 0, "Disagree": 1, "Agree": 2, "Strongly agree": 3}
mapping_lesson = {"Never or almost never": 0, "Some lessons": 1, "Most lessons": 2, "Every lesson": 3}
mapping_checked = {"Not Checked": 0, "Checked": 1}
mapping_freq = {"Never or almost never": 0, "About once or twice a year": 1, "About once or twice a month": 2, "About once a week": 3, "Every day or almost every day": 4}
mapping_a_few = {'Never': 0, 'A few times': 1, 'About once or twice a week': 2, 'Every day or almost every day': 3 }
mapping_satisfied = {"Totally satisfied": 3 ,'Satisfied': 2, "Not satisfied": 1 , "Not at all satisfied": 0}
mapping_almost = {"Almost never": 0, "Sometimes": 1, "Almost always": 2}

In [46]:
# create transformers from mappings
def map_values(x, mapping):
    if isinstance(x, pd.DataFrame):
        # If x is a DataFrame, apply the mapping to each column
        return x.apply(lambda col: col.map(mapping))
    else:
        # If x is a Series, apply the mapping directly
        return x.map(mapping)

In [47]:
transformer_agree = FunctionTransformer(lambda x: map_values(x, mapping_agree))
transformer_lesson = FunctionTransformer(lambda x: map_values(x, mapping_lesson))
transformer_checked = FunctionTransformer(lambda x: map_values(x, mapping_checked))
transformer_freq = FunctionTransformer(lambda x: map_values(x, mapping_freq))
transformer_a_few = FunctionTransformer(lambda x: map_values(x, mapping_a_few))
transformer_satisfied = FunctionTransformer(lambda x: map_values(x, mapping_satisfied))
transformer_almost = FunctionTransformer(lambda x: map_values(x, mapping_almost))

In [48]:
columns_agree = ["ST267Q01JA", "ST267Q02JA", "ST267Q03JA", "ST267Q04JA", "ST267Q05JA", "ST267Q06JA", "ST267Q07JA", "ST267Q08JA"]
columns_lesson = ["ST270Q01JA", "ST270Q02JA", "ST270Q03JA", "ST270Q04JA"]
columns_checked = ["ST297Q01JA"]
columns_freq = ["ST300Q01JA", "ST300Q02JA", "ST300Q03JA", "ST300Q04JA", "ST300Q05JA", "ST300Q06JA", "ST300Q07JA", "ST300Q08JA",
                 "ST300Q09JA", "ST300Q10JA"]
columns_a_few = ['ST348Q04JA', 'ST348Q08JA', "ST353Q01JA", "ST353Q02JA", "ST353Q05JA", "ST353Q06JA", "ST353Q07JA", "ST353Q08JA"]
columns_satisfied = ['WB155Q08HA', 'WB155Q09HA']
columns_almost = ["WB163Q01HA", "WB163Q02HA", "WB163Q03HA", "WB163Q04HA", "WB163Q05HA", "WB163Q06HA", "WB163Q07HA", "WB163Q08HA"]

In [49]:
transform_pipe = ColumnTransformer(
    transformers = [
        ("transformer_agree", transformer_agree, columns_agree),
        ("transformer_lesson", transformer_lesson, columns_lesson),
        ("transformer_checked", transformer_checked, columns_checked),
        ("transformer_freq", transformer_freq, columns_freq),
        ("transformer_a_few", transformer_a_few, columns_a_few),
        ("transformer_satisfied", transformer_satisfied, columns_satisfied),
        ("transformer_almost", transformer_almost, columns_almost)
    ],
    remainder="passthrough"
)

In [50]:
df_students_num = transform_pipe.fit_transform(df_students_clean)

# transformamos el resultado a un dataframe
df_students_num = pd.DataFrame(df_students_num)

# Get all column names from the original dataframe
all_columns = (columns_agree + columns_lesson + columns_checked + columns_freq + 
               columns_a_few + columns_satisfied + columns_almost)

# Get the remaining columns (those not transformed)
remaining_columns = [col for col in df_students_clean.columns if col not in all_columns]

# Combine all column names in the order they appear in the transformed data
column_names = all_columns + remaining_columns

In [51]:
# Assign column names to the transformed dataframe
df_students_num.columns = column_names

df_students_num.head(6)

,ST267Q01JA,ST267Q02JA,ST267Q03JA,ST267Q04JA,ST267Q05JA,ST267Q06JA,ST267Q07JA,ST267Q08JA,ST270Q01JA,ST270Q02JA,...,WB163Q02HA,WB163Q03HA,WB163Q04HA,WB163Q05HA,WB163Q06HA,WB163Q07HA,WB163Q08HA,MATH_mean,READ_mean,SCIE_mean
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,471.9383,455.4310,493.6576
1,2.0,1.0,NaN,NaN,2.0,3.0,2.0,NaN,1.0,1.0,...,2.0,2.0,2.0,2.0,0.0,0.0,2.0,494.8669,537.5307,522.2897
2,NaN,2.0,2.0,NaN,2.0,2.0,NaN,1.0,1.0,1.0,...,1.0,2.0,2.0,1.0,1.0,0.0,2.0,317.8654,348.4248,387.8819
3,2.0,1.0,2.0,0.0,NaN,NaN,2.0,NaN,3.0,3.0,...,1.0,2.0,2.0,2.0,0.0,1.0,2.0,372.5356,424.7139,349.9696
4,NaN,0.0,0.0,NaN,0.0,0.0,NaN,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,0.0,0.0,2.0,485.6010,497.4628,494.6975
5,3.0,3.0,NaN,0.0,NaN,3.0,3.0,NaN,3.0,3.0,...,2.0,2.0,2.0,2.0,1.0,0.0,2.0,432.8490,323.1210,395.8614

In [52]:
# comparamos con el dataframe original
df_students_clean.head(6)

,ST267Q01JA,ST267Q02JA,ST267Q03JA,ST267Q04JA,ST267Q05JA,ST267Q06JA,ST267Q07JA,ST267Q08JA,ST270Q01JA,ST270Q02JA,...,WB163Q02HA,WB163Q03HA,WB163Q04HA,WB163Q05HA,WB163Q06HA,WB163Q07HA,WB163Q08HA,MATH_mean,READ_mean,SCIE_mean
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,471.9383,455.4310,493.6576
1,Agree,Disagree,NaN,NaN,Agree,Strongly agree,Agree,NaN,Some lessons,Some lessons,...,Almost always,Almost always,Almost always,Almost always,Almost never,Almost never,Almost always,494.8669,537.5307,522.2897
2,NaN,Agree,Agree,NaN,Agree,Agree,NaN,Disagree,Some lessons,Some lessons,...,Sometimes,Almost always,Almost always,Sometimes,Sometimes,Almost never,Almost always,317.8654,348.4248,387.8819
3,Agree,Disagree,Agree,Strongly disagree,NaN,NaN,Agree,NaN,Every lesson,Every lesson,...,Sometimes,Almost always,Almost always,Almost always,Almost never,Sometimes,Almost always,372.5356,424.7139,349.9696
4,NaN,Strongly disagree,Strongly disagree,NaN,Strongly disagree,Strongly disagree,NaN,Agree,Most lessons,Most lessons,...,Almost always,Almost always,Almost always,Almost always,Almost never,Almost never,Almost always,485.6010,497.4628,494.6975
5,Strongly agree,Strongly agree,NaN,Strongly disagree,NaN,Strongly agree,Strongly agree,NaN,Every lesson,Every lesson,...,Almost always,Almost always,Almost always,Almost always,Sometimes,Almost never,Almost always,432.8490,323.1210,395.8614

### AÃ±adimos columnas necesarias

In [53]:
# vamos a obtener student_id por si lo necesitamos

df_students_spain = pd.read_csv('C:\\Users\\saraf\\OneDrive\\Documentos\\Data Science and AI\\capstone project\\data\\df_students_spain.csv')

In [54]:
# cogemos columna student_id
student_id = df_students_spain['CNTSTUID']

# eliminamos df_students_spain
del df_students_spain

# aÃ±adimos student_id al dataframe con el que estamos trabajando
df_students_num['student_id'] = student_id

In [55]:
df_students_num.head()

,ST267Q01JA,ST267Q02JA,ST267Q03JA,ST267Q04JA,ST267Q05JA,ST267Q06JA,ST267Q07JA,ST267Q08JA,ST270Q01JA,ST270Q02JA,...,WB163Q03HA,WB163Q04HA,WB163Q05HA,WB163Q06HA,WB163Q07HA,WB163Q08HA,MATH_mean,READ_mean,SCIE_mean,student_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,471.9383,455.4310,493.6576,72400001.0
1,2.0,1.0,NaN,NaN,2.0,3.0,2.0,NaN,1.0,1.0,...,2.0,2.0,2.0,0.0,0.0,2.0,494.8669,537.5307,522.2897,72400003.0
2,NaN,2.0,2.0,NaN,2.0,2.0,NaN,1.0,1.0,1.0,...,2.0,2.0,1.0,1.0,0.0,2.0,317.8654,348.4248,387.8819,72400006.0
3,2.0,1.0,2.0,0.0,NaN,NaN,2.0,NaN,3.0,3.0,...,2.0,2.0,2.0,0.0,1.0,2.0,372.5356,424.7139,349.9696,72400007.0
4,NaN,0.0,0.0,NaN,0.0,0.0,NaN,2.0,2.0,2.0,...,2.0,2.0,2.0,0.0,0.0,2.0,485.6010,497.4628,494.6975,72400010.0

### Creamos las variables que vamos a emplear para el clÃºstering

La variables estarÃ¡n construidas como una combinaciÃ³n de las columnas del dataset usado para la clasificaciÃ³n. A priori:

teach_friend (teacher friendliness): ST267Q01JA, ST267Q06JA

teach_mean (teacher meanness): ST267Q08JA

emo_impl_teach (emotional implication of teachers): ST267Q02JA, ST267Q03JA, ST267Q05JA, ST267Q07JA

teach_intim (teacher intimidation): ST267Q04JA

edu_impl_teach (educational implication of teachers): ST270Q01JA, ST270Q02JA, ST270Q03JA, ST270Q04JA

edu_impl_par (educational implication of parents): ST300Q01JA, ST300Q04JA, ST300Q07JA, ST300Q08JA, ST300Q09JA, ST348Q04JA

par_relation_sat (relationship with parents satisfaction): WB155Q08HA

teach_relation_sat (relationship with teachers satisfaction): WB155Q09HA

emo_imp_parents (emotional implication of parents): WB163Q01HA, WB163Q03HA, WB163Q04HA, WB163Q08HA

par_freedom (freedom granted by parents): WB163Q02HA, WB163Q05HA, WB163Q06HA, WB163Q07HA

In [56]:
df_students_num[['ST267Q01JA', 'ST267Q06JA']].head(20)

    ST267Q01JA  ST267Q06JA
0          NaN         NaN
1          2.0         3.0
2          NaN         2.0
3          2.0         NaN
4          NaN         0.0
5          3.0         3.0
6          NaN         2.0
7          3.0         2.0
8          2.0         2.0
9          3.0         NaN
10         NaN         3.0
11         0.0         NaN
12         3.0         2.0
13         1.0         NaN
14         NaN         2.0
15         3.0         3.0
16         3.0         NaN
17         NaN         0.0
18         3.0         NaN
19         NaN         1.0

Dado que tenemos muchos valores nulos, vamos a definir las nuevas categorÃ­as como la media de las columnas que involucran, de forma que solo contribuyan al resultado los valores no nulos.

Antes de realizar la transformaciÃ³n, vamos a invertir la puntuaciÃ³n de las columnas siguientes columnas, en las que una puntuaciÃ³n mÃ¡s alta serÃ­a considerada negativa:

WB163Q06HA, Try to control everything I do, almost never - sometimes...

WB163Q07HA, Treat me like a baby, almost never - ...

In [57]:
# Verify the changes
print("Example of unreversed values:")
print(df_students_num[['WB163Q06HA', 'WB163Q07HA']].head(5))

Example of unreversed values:
   WB163Q06HA  WB163Q07HA
0         NaN         NaN
1         0.0         0.0
2         1.0         0.0
3         0.0         1.0
4         0.0         0.0
5         1.0         0.0
6         0.0         0.0
7         0.0         1.0
8         0.0         0.0
9         2.0         2.0

In [58]:
# mapear 0 a 2, 1 a 1 y 2 a 0 para las columnas WB163Q06HA y WB163Q07HA

# Create reverse mapping for WB163Q06HA and WB163Q07HA
reverse_mapping = {0: 2, 1: 1, 2: 0}

# Apply the reverse mapping to the specific columns
df_students_num['WB163Q06HA'] = df_students_num['WB163Q06HA'].map(reverse_mapping)
df_students_num['WB163Q07HA'] = df_students_num['WB163Q07HA'].map(reverse_mapping)

# Verify the changes
print("Example of reversed values:")
print(df_students_num[['WB163Q06HA', 'WB163Q07HA']].head(5))

Example of reversed values:
   WB163Q06HA  WB163Q07HA
0         NaN         NaN
1         2.0         2.0
2         1.0         2.0
3         2.0         1.0
4         2.0         2.0
5         1.0         2.0
6         2.0         2.0
7         2.0         1.0
8         2.0         2.0
9         0.0         0.0

In [59]:
# Create all combined columns
df_students_num['teach_friend'] = df_students_num[['ST267Q01JA', 'ST267Q06JA']].mean(axis=1)
df_students_num['teach_mean'] = df_students_num['ST267Q08JA']
df_students_num['emo_impl_teach'] = df_students_num[['ST267Q02JA', 'ST267Q03JA', 'ST267Q05JA', 'ST267Q07JA']].mean(axis=1)
df_students_num['teach_intim'] = df_students_num['ST267Q04JA']
df_students_num['edu_impl_teach'] = df_students_num[['ST270Q01JA', 'ST270Q02JA', 'ST270Q03JA', 'ST270Q04JA']].mean(axis=1)
df_students_num['edu_impl_par'] = df_students_num[['ST300Q01JA', 'ST300Q04JA', 'ST300Q07JA', 'ST300Q08JA', 'ST300Q09JA', 'ST348Q04JA']].mean(axis=1)
df_students_num['par_relation_sat'] = df_students_num['WB155Q08HA']
df_students_num['teach_relation_sat'] = df_students_num['WB155Q09HA']
df_students_num['emo_imp_parents'] = df_students_num[['WB163Q01HA', 'WB163Q03HA', 'WB163Q04HA', 'WB163Q08HA']].mean(axis=1)
df_students_num['par_freedom'] = df_students_num[['WB163Q02HA', 'WB163Q05HA', 'WB163Q06HA', 'WB163Q07HA']].mean(axis=1)